main {
    max-width: 70%;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    animation: fadeIn 1s ease-in;
    margin-top: 130px;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  h1 {
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in;
}
  
  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .perkenalan {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    animation: slideInLeft 1s ease-in;
}
  
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .smartlearn {
    color: #197278;
    font-weight: bold;
  }
  
  .logo img {
    width: 50px;
    margin-right: 10px;
  }
  
  .logo p {
    font-size: 20px;
  }
  
  .profil1 {
    font-size: 15px;
    text-align: center;
    margin-left: 30px;
    animation: fadeIn 1s ease-in;
  }

  .profil2 {
    font-size: 15px;
    text-align: center;    
    margin-left: 30px;
    margin-right: 70px;
    animation: fadeIn 1s ease-in;
  }
  
  .profil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    animation: rotateIn 1s ease-in;
    transition: transform 0.5s ease-in;
  }
  
  .profil img:hover {
    transform: rotate(360deg);
  }
  
  @keyframes rotateIn {
    0% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }
  
  .profil h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .profil p {
    font-size: 14px;
    color: #555555;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    animation: fadeIn 1s ease-in;
  }